<h4 *ngIf="!productos">Cargando..</h4>
<div style="text-align:center">
  <owl-carousel *ngIf="productos" class="carousel" [options]="carouselOptions"  [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <ng-container>
      <mat-card *ngFor="let pro of productos;let i = index" class="example-card onLoad" (click)="infoProduc(pro)">
        <img *ngIf="pro?.img" class="productImg" mat-card-image src="{{baseurl}}api/uploads/img/{{pro.img}}">
        <img *ngIf="!pro?.img" class="productImg" mat-card-image src="assets/images/noimage.jpg">
      </mat-card>
    </ng-container>
  </owl-carousel>
</div>
