<div style="display: inline-flex; align-items: center; margin: 10px;">
  <div style="margin-top: 10px;">
    <h2>Lista de Vendedores</h2>
  </div>&nbsp;&nbsp;
  <div>
    <button mat-icon-button color="primary" (click)="nuevo()">
      <mat-icon aria-label="Add">add</mat-icon>
        Nuevo
    </button>
  </div>
</div>
<div style="margin: 10px;">
  <mat-form-field class="filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort [class.isMobile]="isMobile">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Código. </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Código:</span>
        {{element.id}} <button mat-icon-button color="warn" (click)="verfoto(element)">
          <mat-icon aria-label="Edit">image_search</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Column -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Nombre:</span>
        {{element.nombrerazon}}
      </mat-cell>
    </ng-container>

    <!-- Column -->
    <ng-container matColumnDef="ciruc">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CI </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">CI:</span>
        {{element.ciruc}}
      </mat-cell>
    </ng-container>

    <!-- Column -->
    <ng-container matColumnDef="celular">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Celular </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Celular:</span>
        {{element.celular}}
      </mat-cell>
    </ng-container>

    <!-- Column -->
    <ng-container matColumnDef="direccion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Direccion:</span>
        {{element.direccion}}
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index;">
        <span class="mobile-label">Acciones:</span>

        <button mat-icon-button color="primary" (click)="editar(row)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="eliminar(row)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

