<app-slider></app-slider>
<div class="productbox-container">
  <div class="banner">
    <ng-container>
        <mat-card style="height: 430px; width: 320px;" [routerLink]="['/home/listprobycatpadre', 2]">
          <img mat-card-image src="assets/images/Game.jpg">
        </mat-card>
    </ng-container>
    <ng-container style="margin-top: 20px;">
      <mat-card style="height: 430px; width: 320px;" [routerLink]="['/home/listprobycatpadre', 3]">
        <img mat-card-image src="assets/images/Celulares.jpg">
      </mat-card>
    </ng-container>
    <ng-container style="margin-top: 20px;">
      <mat-card style="height: 430px; width: 320px;" [routerLink]="['/home/listprobycatpadre', 4]">
        <img mat-card-image src="assets/images/Electronicos.jpg">
      </mat-card>
    </ng-container>
  </div>
<div class="products-container">
  <div class="buscar">
    <form [formGroup]="form">
    <div id="demo-2">
      <input type="search" (keyup)="nuevoFiltrobus($event.target.value)" (keyup.enter)="enterbuscar($event.target.value)"
      placeholder="Hola.!, ¿Qué buscas en CellDigital?" formControlName="busqueda" [matAutocomplete]="auto" #busqueda>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarProducto" (optionSelected)="seleccionProducto($event)">
        <mat-option *ngFor="let producto of productosFilter" [value]="producto">
          {{producto.nombre}}
        </mat-option>
      </mat-autocomplete>
    </div>
    </form>
  </div><br>
  <div *ngFor="let itemcat of subcategorias">
    <div *ngIf="nuevoFiltro(itemcat.id).length > 0">
      <div class="title">
        <h2 style="text-transform: uppercase;">{{itemcat.descripcion}}</h2>
      </div>
      <div class="body">
      <!--Todas las Categorias-->
      <ng-container>
        <mat-card *ngFor="let item of nuevoFiltro(itemcat.id)" class="example-card onLoad" (click)="infoProduc(item)">
          <img *ngIf="item?.img" class="productImg" mat-card-image src="{{baseurl}}api/uploads/img/{{item.img}}">
          <img *ngIf="!item?.img" class="productImg" mat-card-image src="assets/images/noimage.jpg">
          <mat-card-content>
              <div style="display:flex; flex-direction:column; align-items:center">
                <span class="sky-font">{{currencyFormatDE(item.preciomin)}} U$</span>
                <br>
                <span style="margin: 0; font-weight: bold;">{{item.nombre}}</span>
              </div>
          </mat-card-content>
          <mat-card-footer>
            <span style="margin: 0; color: gray;">Cód.{{item.id}}</span>
          </mat-card-footer>
        </mat-card>
      </ng-container>
      </div>
      <div class="body" style="padding-bottom: 20px; margin: 0px 20px;">
        <button mat-button mat-raised-button class="vermas" [routerLink]="['/home/listprobycat', itemcat.id]">
        VER MÁS
        </button>
      </div>
    </div>
  </div>
</div>
</div>
<!--
  <img class="fa fa-whatsapp my-float" style="cursor:pointer" src="assets/images/wpp.svg">
  <div class="body">
      <ng-container *ngIf="!productos">
        <mat-card class="example-card" *ngFor="let item of imageLoad">
            <skltn-root class="example-card" duration="1000" [rectRadius]="10" flareWidth="50%" bgFill="#d8d5d1"
                flareFill="rgba(255,255,255, 0.5)">

                <div class="skltn-card">
                  <div skltn-bone class="skltn-card__avatar" type="circle"></div>
                  <div class="skltn-card__body">
                      <div skltn-bone class="skltn-card__title"></div>
                      <div skltn-bone class="skltn-card__line"></div>
                      <div skltn-bone class="skltn-card__line"></div>
                  </div>
              </div>
          </skltn-root>
      </mat-card>
  </ng-container>

  <ng-container>
    <mat-card *ngFor="let item of nuevoFiltro(itemcat.id)" class="example-card onLoad" (click)="productHome(item.id)">
      <img src="{{item.img}}"
          class="productImg" mat-card-image />
      <mat-card-content>
          <div style="display:flex; flex-direction:column; align-items:center">
              <span style="margin: 0; font-weight: bold;">{{item.nombre}}</span>
              <span class="sky-font">Desde {{item.preciomin}} U$</span>
          </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  </div>
-->
