.buscar {
  height: 50px;
  width: 350px;
  background: none;
  margin: auto;
  margin-top: 10px;
  /* Demo 2 */
  input {
    outline: none;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }

  input[type="search"] {
    background: #ededed
      url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
      9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  input[type="search"]:focus {
    width: 307px;
    background-color: #fff;
    border-color: #66cc75;

    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  }

  input:-moz-placeholder {
    color: #999;
  }
  input::-webkit-input-placeholder {
    color: #999;
  }

  #demo-2 input[type="search"] {
    width: 307px;
    padding-left: 15px;
    color: transparent;
    cursor: pointer;
  }
  #demo-2 input[type="search"]:hover {
    background-color: #fff;
  }
  #demo-2 input[type="search"]:focus {
    width: 307px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
  }
  #demo-2 input:-moz-placeholder {
    padding-left: 15px;
    color: gray;
  }
  #demo-2 input::-webkit-input-placeholder {
    padding-left: 15px;
    color: gray;
  }
}

.search-box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
  margin-top: 35px;
  display: flex;
}
.search-text {
  padding: 10px;
  flex: 20;
  font-size: 12px;
  color: #656565;
  line-height: 1.5;
}
.icon {
  border-right: 1px solid lightgrey;
  margin: 5px;
}
.icon,
.close {
  flex: 1;
  color: #656565;
}

.leftIcon {
  padding: 2px;
  padding-left: 7px;
}
.productbox-container {
  display: flex;
  background:#f4f6f9 !important;
  position: relative;
  margin: auto;
  margin-top: 30px;
  max-width: 1380px;
}
.banner {
  margin-top: 20px;
}
.products-container {
  background: #f8f9fa !important;
  position: relative;
  margin: auto;
  margin-top: 30px;
  max-width: 1200px;
}

.title {
  text-transform: uppercase;
  text-align: center;
  padding-left: 10px;
  position: relative;
  font-size: 30px;
  font-weight: normal;
  color: #000000;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.viewAllBtn {
  border-radius: 0;
  border-block-color: bl;
}
.vermas {
  border-radius: 0;
  color: white;
  background-color: black;
}
.body {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.body .productImg {
  height: 200px;
}
.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.mobile-view {
  display: none;
}

.mobile-view .mobile-card {
  width: 48%;
  text-align: center;
  background: #fff;
  margin: 2px;
}

@media (max-width: 1080px) {
  .banner {
    display: none;
  }
  .envios {
    display: none;
  }
  .mobile-view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .title {
    border-left: 5px solid #3f51b5;
    padding-left: 10px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin-left: 0.5%;
    width: 100%;
    margin-bottom: 20px;
  }
}
.img-box {
  padding: 30px;
}
.img-glass {
  height: 100px;
  width: 225px;
  margin-bottom: 15px;
}
.img-guide {
  height: 260px;
  width: 350px;
  margin-bottom: 15px;
}
.sky-font {
  color: orangered;
  font-size: 20px;
}
.shop-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.shop-now {
  background-color: white;
  color: black;
  border: 1px solid #00cccc;
}

/*--------mat-card---------*/
mat-card {
  box-shadow: none !important;
  //border: 1px solid #75890c !important;
  transition: 0.3s !important;
  width: 250px !important;
  margin: 10px 10px !important;
  cursor: pointer !important;
  position: relative;
  overflow: hidden;
  .fab {
    z-index: 0;
    position: absolute;
  }
  border-bottom-style: groove;
  border-color: cornflowerblue;
}

mat-card img {
  padding-bottom: 0px !important;
  transition: 0.3s !important;
}

mat-card img:hover {
  border: #fff !important;
  transform: scale(1.1);
  z-index: 2;
}
mat-card:hover {
  .fab {
    z-index: 2;
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
  }
}
.mat-card-footer {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
/*whatSapp
  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
  .float:hover {
    text-decoration: none;
    color: #25d366;
    background-color:#fff;
  }
  .my-float{
    margin-top:16px;
  }
*/
