<mat-toolbar>
  <h2 style="font-weight: bold;">Información</h2>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="cerrar()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<div class="new-image-container" style="margin-top: 5px;">
  <div class="example-card">
    <header style="background-color: whitesmoke;">
      <h2>{{producto.nombre}}</h2>
      <!--<h4>Lo mejor solo en Celldigital</h4>-->
    </header>
    <figure>
      <img *ngIf="producto?.img" src="{{baseurl}}api/uploads/img/{{producto.img}}">
      <img *ngIf="!producto?.img" src="assets/images/noimage.jpg">
    </figure>
    <section>
      <h2 style="font-weight: bold; color: orangered;">Precio: {{currencyFormatGs((producto.preciomin * cotizacion))}} G$.</h2>
      <h4 style="font-weight: bold; color: #000000;">Precio: {{currencyFormatDE(producto.preciomin)}} U$.</h4>
      <details>
        <summary>Especificaciones técnicas</summary>
        {{producto?.descripcion}}
      </details>
    </section>

  </div>
</div>
