<mat-nav-list>
  <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
  <app-menu-list-item *ngFor="let adminitem of adminNavItems" [item]="adminitem"></app-menu-list-item>
</mat-nav-list>

<!--
<ul class="list">
  <li class="contain" (click)="toggelSidenav($event)" [routerLink]="['/home']" routerLinkActive="active">
    <table>
      <tr>
        <td>
          <mat-icon>home</mat-icon>
        </td>
        <td style="vertical-align: baseline;"><span style="margin-left: 10px;">HOME</span></td>
      </tr>
    </table>
  </li>
  <li class="contain" (click)="toggelSidenav($event)" [routerLink]="['/products']" routerLinkActive="active">
    <table>
      <tr>
        <td>
          <mat-icon>add_to_photos</mat-icon>
        </td>
        <td style="vertical-align: baseline;"> <span style="margin-left: 10px;">PRODUCTS</span>
        </td>
      </tr>
    </table>
  </li>
</ul>
-->
