<mat-drawer-container hasBackdrop="true" >
    <mat-drawer #drawer class="example-sidenav" mode="over" style=" overflow: hidden;">
        <app-sidenav (sidenav)="toggelNavbar($event)"></app-sidenav>
    </mat-drawer>
    <app-header (sidenav)="toggelNavbar($event)"></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
    <div>
      <a href="https://api.whatsapp.com/send?1=pt_BR&phone=595973604905&text=Hola%20todo%20bien?%20Yo%20estaba%20visitando%20el%20sitio%20de%20Cell%20Digital%20y%20necesito%20informaci%C3%B3n%20sobre%20productos." class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
      </a>
    </div>
</mat-drawer-container>
