<div class="footer">
  <div class="container">
      <div class="first">
          <h4 style="text-transform:uppercase">Cell Digital</h4>
          <p>
              Desde 2010 Cell-Digital trae calidad y satifacción a sus clientes.
          </p>
      </div>
      <div class="second">
        <h4>Información</h4>
          <p>Tel:0972-201-209</p>
          <p>Facebook: CellDigital</p>
      </div>
  </div>
  <div class="copyright">
      <p>Copyright ©2019 Todos los derechos reservados
  </div>
</div>
