<div class="footer">
  <div class="main-content">
    <div class="left box">
      <h2>Acerca de nosotros</h2>
      <div class="content">
        <p>Desde 2016 Ubicada en el corazón del Alto Paraná,  Cell Digital es uno de los grandes especialistas en ventas de electrónicos del Paraguay, trayendo calidad y satisfacción a sus clientes con el mejor atendimiento.</p>
        <p>Cell Digital te ofrece lo más nuevo en lanzamiento y lo más moderno en el mundo de la tecnología.
          Productos 100% originales.
          Cell Digital ofrece calidad y confianza, con los mejores precios del mercado.
        </p>
        <div class="social">
          <a href="https://www.facebook.com/Cell-Digital-106930511132565/?ref=page_internal" target="_blank"><span class="fab fa-facebook-f"></span></a>
          <!--<a href="#"><span class="fab fa-twitter"></span></a>-->
          <a href="https://www.instagram.com/cell_digital_py/" target="_blank"><span class="fab fa-instagram"></span></a>
          <!--<a href="#"><span class="fab fa-youtube"></span></a>-->
        </div>
      </div>
    </div>
    <div class="center box">
      <h2>Direccion</h2>
      <div class="content">
        <div class="place">
          <a href="https://www.google.com.py/maps/place/Cell+Digital/@-25.5089563,-54.6121218,17z/data=!3m1!4b1!4m5!3m4!1s0x94f685c4bb257977:0xc3cf2a4418d95ea6!8m2!3d-25.5089563!4d-54.6099331?hl=es" target="_blank"><span style="color: white;" class="fas fa-map-marker-alt"></span></a>
          <span class="text">Avenida San Blás, Ciudad del Este, Shopping Alfonso 2º piso</span>
        </div>
        <div class="phone">
          <span class="fas fa-phone-alt"></span>
          <span class="text">+595973604905</span>
        </div>
        <div class="email">
          <span class="fas fa-envelope"></span>
          <span class="text">celldigitalpy@gmail.com</span>
        </div>
      </div>
    </div>
    <div class="right box">
      <h2>Contactanos</h2>
        <div class="content">
          <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div class="name">
              <div class="text">Nombre *</div>
              <input type="text" name="name" ngModel required #name="ngModel">
            </div>
            <div class="email">
              <div class="text">Email *</div>
              <input type="text" email name="email" ngModel required #email="ngModel">
            </div>
            <div class="messages">
              <div class="text">Mensaje *</div>
              <textarea rows="2" cols="25" name="messages" ngModel required #messages="ngModel"></textarea>
            </div>
            <button type="submit" mat-raised-button>Enviar</button>
          </form>
        </div>
    </div>
  </div><br>
  <div class="createby">
    <span class="credit">Creado por <a href="#">AVISING</a> | </span>
    <span class="far fa-copyright "></span><span> 2020 Todos los derechos reservados.</span>
  </div>
</div>
<!--
<div class="footer">
  <div class="container">
      <div class="first">
          <h4 style="text-transform:uppercase">Cell Digital</h4>
          <p>
              Desde 2010 Cell-Digital trae calidad y satifacción a sus clientes.
          </p>
      </div>
      <div class="second">
        <h4>Información</h4>
          <p>Tel:0972-201-209</p>
          <p>Facebook: CellDigital</p>
      </div>
  </div>
  <div class="copyright">
      <p>Copyright ©2019 Todos los derechos reservados
  </div>
</div>
-->
